
@font-face {
    font-family: 'minecraft';
    src: url('/assets/font/Minecraft.ttf') format('truetype'),
         url('/assets/font/minecraft-font/minecraft-webfont.woff2') format('woff2'),
         url('/assets/font/minecraft-font/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1{
    text-align: center;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;

}

#plateau {
    margin-top: 5vh;
    text-align: center;
}

canvas {
    background-color: greenyellow;
    margin: 20px;
    box-shadow: black 20px 10px 50px;
}

button {
    margin: 10px;
    height: 40px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'minecraft';
    font-size: large;
    cursor: pointer;
    line-height: 26px;
}



/* === Modal: Menu du jeu === */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#gameOver-Modal {
    display: none;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal-header {
    padding: 40px 16px;
    background-color: green;
    color: whitesmoke;
    text-align: center;
}

.modal-body {
    text-align: center;
    align-items: center;
    padding: 2px 16px;
    display: flex;
    flex-direction: column; 
}